body {
	background: url(../imgs/earth.jpg);
}
h1 {
	color: yellow;
}
.dfw {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4 {
	color: yellow;
}
h5 {
	color: red;
}
.notts {
	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.stoke {
	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

 .dussel  {
 	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

 }

 .harare  {
 	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

.cameroon  {
 	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

.yogykarta {
 	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

}

.nagoya {
 	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

 }

 .sydney {
 	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

 }

 .sanfran{
 	width: 30%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;

}




